<!DOCTYPE html>
<html>
  {{ partial "header.html" . }}
  <body>
    <div class="content">
      {{ partial "head.html" . }}
      <main class="list">
        <div class="site-description">
          {{ with .Site.Params.subtitle }}
            <p>{{ . | $.Page.RenderString }}</p>
          {{ end }}
        </div>

        {{ $sections := .Site.Params.mainSections | default (slice "posts") }}
        {{ $pages := where .Site.RegularPages "Type" "in" $sections }}
        {{ $paginator := .Paginate ((where $pages "Params.hidden" "ne" true).ByDate.Reverse) }}
        {{ range $paginator.Pages }}
          <section class="list-item">
            <h1 class="title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>
            <div class="article-meta">
              <time>{{ dateFormat "2006-01-02" .Date }}</time>
              {{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}
            </div>
            {{ partial "pagedescription.html" . }}
            <a class="readmore" href="{{ .RelPermalink }}">阅读全文</a>
          </section>
        {{ end }}
        {{ partial "paginator.html" . }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
